<div class="flex flex-col justify-center items-center h-screen">
  <section class="title-log-reg">
    <h1 class="text-4xl font-bold">TaskFlow</h1>
    <p class="text-gray-600">Gerencie seus projetos com eficiência</p>
  </section>
  <div class="flex flex-col items-center w-120 h-100 bg-input-background rounded-lg">
    <h2 class="flex m-3.5 text-2xl font-bold">Entrar</h2>
    <form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="registrar()">
      
      <div>
        <p>Email:</p>
        <input class="input" type="email" formControlName="email" placeholder="Digite seu email" />
      </div>
      <div>
        <p>Senha:</p>
        <input class="input" type="password" formControlName="senha" placeholder="Digite sua senha" />
      </div>
              

      <button [disabled]="form.invalid" type="submit" class="btn-reg-log hover:cursor-pointer disabled:bg-gray-400 
         disabled:cursor-not-allowed 
         disabled:opacity-50" routerLink="/dashboard">Entrar</button>

    </form>
    <div class="flex gap-2 mt-6">
        <p>Não tem uma conta?</p><a class="link-log-reg" routerLink="/register">Criar conta</a>

    </div>
    
  </div>
</div>
